<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div th:replace="frontend/fragments/header :: header" />

<body>
	        
	<div th:replace="frontend/fragments/navigation :: header" />
	<div class="container-fluid">
		<div class="row">
			<div th:replace="frontend/fragments/navigation :: sidebars" />
			<main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
				<div
					class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
					<h1 class="h2">Edit Reader</h1>
				</div>

				<form method="POST" class="form-signin" th:object="${readerForm}"
					th:action="@{/update_reader}" th:each="r : ${reader}">

					<div class="form-group">
						<label for="idReader" class="form-label">ID </label> 
						<input name="idReader" type="text" class="form-control" id="idReader"
							th:value="${r.idReader}" readonly> 
							
							<label for="name" class="form-label">Name </label> 
							<input name="name" type="text"
							class="form-control" id="name" th:value="${r.name}"
							placeholder="Nombre" maxlength=8>
					</div>

					 </br>
					<div>
						<button class="btn btn-lg btn-primary btn-block" type="submit">Guardar</button>
					</div>
				</form>
				             
			</main>
		</div>
	</div>
	<div th:replace="frontend/fragments/footer :: footer">
</body>

</html>